body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("https://krasivosti.pro/uploads/posts/2021-04/1617696979_47-p-koshachi-oboi-kot-na-stole-51.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    width: 1000px;
    margin: auto;
    min-height: 100vh;
    background: rgb(224, 197, 186);
    display: grid;
    gap: 30px;
    grid-template-rows: 70px 1fr 60px;
}
header, footer {
    background-color: #222;
    color: #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
header {
    justify-content: space-between;
}
footer {
    justify-content: center;
}
h1, h2, h3 {
    margin: 0;
}
main {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-start;
    gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: 1px solid;
}
.card-pic {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
    height: 180px;
}
.card h3 {
    text-align: center;
}
.cardShowBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;
    overflow-y: auto; */
    /* -webkit-overflow-scrolling: touch; */
}
.cardShowBlock.active {
    display: flex;
}
.cardShow {
    width: 340px;
    padding: 20px;
    background-color: rgb(224, 197, 186);
    position: relative;
}
.cardShow__close {
    width: 30px;
    height: 30px;
    /* border: 1px solid;
    border-color: rgba(110, 84, 75, 0.788);  */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cardShow__close:hover {
    background-color: rgba(110, 84, 75, 0.788);
    color: rgb(224, 197, 186);
    border-color: #222;
    /* border: solid; */
    border-radius: 5px;
}
.cardShow__close::after {
    content: "\274C";
    margin-bottom: 2px;
}
.cardShow__content {
    display: grid;
    grid-template-rows: 30px auto 20px 20px auto;
    gap: 10px;
}

.cardShow__logo::after {
    content: "\1F3A9";
}
.cardBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardBtnChange, .cardBtnDelete {
    height: 30px;
    padding-bottom: 2px;
    border: 1px solid; 
    border-radius: 5px;
    border-color: rgba(110, 84, 75, 0.788);
    background-color: rgb(224, 197, 186);
    font-weight: bold;
    color: #222;
}
.cardBtnChange:hover {
    color:#fff;
    background-color: rgba(110, 84, 75, 0.788);
}
.cardBtnDelete:hover {
    color:#fff;
    background-color: rgba(110, 84, 75, 0.788);
}
.catName, .catImg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.catImg {
    display: flex;
    width: 300px;
    height: 350px;
    margin: 20px;
    background-color: #fff;
}
.catAge {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    font-weight: bold;
}
.catDescription {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    border: solid;
    padding: 5px;
    font-family: sans-serif;
    border-color:  rgb(138, 106, 94);
}
.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup-wrapper.active {
    display: flex;
}
.popup {
    width: 300px;
    padding: 20px;
    background-color: rgb(224, 197, 186);
    position: relative;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1.2);
}
.popup__close {
    width: 30px;
    height: 30px;
    /* border: 1px solid; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.popup__close:hover {
    background-color: rgba(110, 84, 75, 0.788);
    color: rgb(224, 197, 186);
    border-color: #222;
    border-radius: 5px;
}
.popup__close::after {
    content: "\274C";
    margin-bottom: 2px;
}
#addForm {
    display: grid;
    gap: 15px;
}
